 <!-- Nav Bar -->
 <section id=title>
  <!-- <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top text-dark">
    <div class="container">
      <a href="/home" class="navbar-brand text-dark">Crypto Bit Company</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#learn" class="nav-link text-dark">Investing</a>
          </li>
          <li class="nav-item">
            <a href="#questions" class="nav-link text-dark">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link text-dark">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link text-dark">Help</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary btn-light ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          SIGNUP
        </button>
        <button type="button" class="btn btn-primary btn-light ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          LOGIN
        </button>
      </div>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-custom">
    <div class="container">
      <a href="/home" class="navbar-brand">Crypto Bit Company</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#learn" class="nav-link text-dark">Investing</a>
          </li>
          <li class="nav-item">
            <a href="#questions" class="nav-link text-dark">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link text-dark">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link text-dark">Help</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary btn-light ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          SIGNUP
        </button>
        <button type="button" class="btn btn-primary btn-light ms-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          LOGIN
        </button>
      </div>
    </div>
  </nav>


  <!-- Nav Bar
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="">Tindog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cta">Download</a>
        </li>
      </ul>
    </div>
  </nav> -->
 </section>


