<!--About section -->
<section id="about" class="p-5">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-md">
              <img src="../../../../assets/images/html.png" alt="" class="img-fluid">
          </div>
          <div class="col-md p-5">
              <p class="lead">
                Aplikasi trading favorit Indonesia: <br> Asset Kripto Terverifikasi
              </p>
              <p class="lead">
                Tokocrypto adalah platform jual beli bitcoin dan aset crypto lainnya di Indonesia seperti ETH, DOGE, BTC, USDT yang mudah dan aman..
              </p>
              <a href="" class="btn btn-outline-dark mt-3" data-bs-toggle= "modal"
              data-bs-target= "#exampleModal">
                  <i class="bi bi-chevron-right"></i>
                  read more
              </a>
          </div>
      </div>
  </div>
</section>
