<!-- <footer id="footer">
  <div class="container-fluid">
    <i class="icon fa-brands fa-twitter"></i>
    <i class="icon fa-brands fa-facebook-f"></i>
    <i class="icon fa-brands fa-instagram"></i>
    <i class="icon fa-solid fa-envelope"></i>
    <p>© Copyright TinDog</p>
  </div>
</footer> -->

<footer id="footer" class="bg-custom text-light p-4 align-items-center justify-content-between text-center">
  <div class="container-fluid">
    <a href="http://"><i class="icon bi bi-twitter"></i></a>
    <a href="http://"><i class="icon bi bi-facebook"></i></a>
    <a href="http://"><i class="icon bi bi-instagram"></i></a>
    <a href="http://"><i class="icon bi bi-envelope"></i></a>
    <p>Copyright © 2022 Crypto Bit Company<i class="bi bi-copyright"></i></p>
  </div>
</footer>

