<!--About section -->
<section id="about" class="p-5">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-md">
              <img src="../../../assets/images/Blog-section.png" alt="Blog-Section" class="img-fluid img-custom">
          </div>
          <div class="col-md p-5">
              <p class="lead">
                  Sejarah
              </p>
              <p class="lead">
                Tokocrypto lahir tahun 2018 dari sekelompok antusias atau penggemar kripto di Indonesia. Kelompok ini memiliki keyakinan atas manfaat yang dapat ditawarkan teknologi blockchain atau rantai blok kepada masyarakat. Pada awal pendirian ini, Tokocrypto didukung perusahaan asal Singapura, yaitu QCP Capital.

                Tokocrypto secara resmi diperkenalkan kepada publik pada 15 September 2018. Peluncuran Tokocrypto ini memiliki tiga agenda utama, yaitu untuk menghadirkan konten dan informasi terbaru terkait aset digital, menjangkau komunitas-komunitas blockchain dan aset kripto untuk berbagi pengetahuan dan pemahaman, serta pelibatan publik dalam proyek aset digital di Indonesia dan Asia Tenggara.

                Pada November 2019, Tokocrypto resmi terdaftar di Badan Pengawas Perdagangan Berjangka Komoditi (BAPPEBTI) di bawah Kementerian Perdagangan RI dan menjadi perusahaan perdagangan kripto pertama yang terdaftar di lembaga pemerintah tersebut. Aset kripto sendiri merupakan aset digital yang dirancang untuk bekerja sebagai media pertukaran yang menggunakan kriptografi.
              </p>
          </div>
      </div>
  </div>
</section>

<!-- Angular -->
<section id="angular" class="p-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md">
              <p class="lead">Pada Mei 2020, Tokocrypto memperbarui sistem perdagangannya dengan meluncurkan Tokocrypto 2.0.Platform ini didukung oleh sistem Binance Cloud yang memiliki kecepatan transaksi dan keamanan tingkat tinggi. Selain itu, versi ini memungkinkan perdagangan dengan lebih banyak token baru, lebih banyak fitur, serta likuiditasnya lebih baik dibandingkan versi sebelumnya.

                Pada November 2020, Tokocrypto meluncurkan aplikasi berbasis Android dan iOS untuk memudahkan para nasabah melakukan jual-beli aset kripto kapanpun dan dimanapun. Hingga Desember 2021 aplikasi Tokocrypto telah diunduh sebanyak 2 juta kali.

                Pada akhir tahun 2021, Tokocrypto mencatatkan lebih dari 2 juta pengguna terdaftar, naik 8x lipat dari 250.000 pengguna di 2020. Nilai perdagangan harian aset kripto di Tokocrypto tumbuh 754% dan telah mencapai lebih dari $ 191 juta atau setara Rp 2,7 triliun. Sebelumnya, nilai perdagangan hanya $  2,5 juta di akhir tahun 2020.

                Terdapat lebih dari 200 token/koin yang diperdagangkan di Tokocrypto. Saat ini yang terbanyak dari 15 exchange resmi yang terdaftar di Bappebti. Selain sebagai exchange atau platform perdagangan aset kripto, Tokocrypto juga memiliki TokoVerse.</p>
          </div>
          <div class="col-md">
              <img src="../../../assets/images/Blog2-section.png" alt="" class="img-fluid">
          </div>
      </div>
  </div>
</section>


