<!--About section -->
<section id="about" class="p-5">
  <div class="container mt-2">
      <div class="row align-items-center justify-content-between">
          <div class="col-md">
              <img src="../../../../assets/images/about-us-section.png" alt="" class="img-fluid">
          </div>
          <div class="col-md p-5">
              <p class="lead">
                Tokocrypto adalah pedagang aset kripto di Indonesia yang terdaftar resmi di Badan Pengawas Perdagangan Berjangka Komoditi (Bappebti) Kementerian Perdagangan RI.
Tokocrypto berkomitmen memperluas pemanfaatan teknologi blockchain di Indonesia, dengan menghadirkan TokoVerse sebuah ekosistem blockchain yang mencakup TKO (proyek kripto lokal pertama Indonesia dengan token hybrid CeDeFi), T-Hub (hub untuk komunitas kripto & blockchain), TokoMall (platform NFT marketplace)[4], TokoCare (program CSR berbasis blockchain), dan TokoLabs (program inkubator dan akselerator yang mendorong bisnis dan inovasi blockchain di Indonesia) dan lainnya.
              </p>
          </div>
      </div>
  </div>
</section>

