<!-- Our Instructor -->
<section id="ourInstructor" class="p-5 text-center">
  <div class="container">
        <h2>Crypto Bit Sekuritas Indonesia
          terdaftar dan diawasi oleh</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/OJK_Logo.png" class="card-img-top img-custom" alt="...">
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card bg-custom text-white">
            <div class="card-body">
              <h5 class="card-title">Stablecoin Rupiah Indonesia yang cepat, murah, dan transparan</h5>
              <p class="card-text">BIDR adalah kolaborasi antara Tokocrypto dan Binance, yang didukung dengan Tokocrypto chain untuk memungkinkan anda mentransfer koin anda.</p>
              <a href="#" class="btn btn-outline-dark">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card bg-custom text-white">
            <div class="card-body">
              <h5 class="card-title">Pelajari lebih lanjut tentang BIDR</h5>
              <p class="card-text">Pelajari cara mentransaksikan BIDR Anda ke bitcoin dan aset kripto lain di Tokocrypto. Panduan langkah-langkah yang terperinci dan informasi tentang BIDR dapat ditemukan di FAQ kami.</p>
              <a href="#" class="btn btn-outline-dark">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card bg-custom text-white">
            <div class="card-body">
              <h5 class="card-title">Aman dan Stabil</h5>
              <p class="card-text">BIDR didukung 1:1 oleh Rupiah Indonesia Disimpan di Tokocrypto yang terpisah dari rekening bank Indonesia yang akan melalui audit setiap semester. Laporan audit akan diterbitkan setiap semester</p>
              <a href="#" class="btn btn-outline-dark">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

